.cardStyle {
 
  border-radius: 40px!important;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #bebfc1; /* Cambia el color de fondo del formulario */
    border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  


.primary {
  background-color: #dfe0e2!important;
  color: white!important;
  border-color: #648ac8!important;
}

.secondary {
  background-color: #c33737!important;
  color: rgb(12, 94, 235)!important;
  border-color: #c8c7c7!important;
}

.icon-size {
  font-size: 2rem;
}

.icon-color {
  color: #648ac8;
}

.logoRegister {
  width: 50%!important;
  height: auto!important;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

/* Ajustes para los campos */
.form-control {
  width: calc(100% - 20px); /* Ajusta el ancho de los campos */
  margin-bottom: 20px;
}

/* Ajustes para los inputs */
.form-control[type="email"],
.form-control[type="password"] {
  width: calc(100% - 40px); /* Ajusta el ancho de los inputs */
  padding: 10px 20px; /* Reduce el padding horizontal de los inputs */
}
.cardStyle {
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.formContainer {
  padding: 20px;
}

.submitButton {
  margin-top: 20px;
}

.errorMessage {
  color: red;
}
